<%- include('../common/header.ejs') %>
<body>
  <%- include('../common/nav.ejs') %> <!-- Corrected file path -->

  <header class="jumbotron">
    <h1 class="display-4">Discover African Flavors</h1>
    <p class="lead">
      Experience the rich and diverse culinary journey at our restaurant.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Book a Table</a>
  </header>

  <div class="container mt-5">
    <section>
      <article>
        <h2 class="mb-4">Journey to the Heart of Africa's Flavors</h2>
        <p>
          Discover the finest Afro Intercontinental dining experience in Dubai
          at our restaurant, where the rich and diverse flavors of Africa come
          to life. With an authentic and diverse menu that spans the
          continent, passionate chefs, warm African hospitality, and an
          emphasis on fresh, quality ingredients, we stand out as the premier
          choice for those seeking an immersive cultural and culinary
          adventure.
        </p>
        <p>
          Our vibrant ambiance, live entertainment, and exquisite cocktails
          further elevate your dining experience. Whether you're a vegetarian,
          vegan, or meat lover, our menu caters to all dietary preferences.
          Join us to savor the essence of Africa in every bite and enjoy a
          truly exceptional dining experience that celebrates the beauty and
          diversity of African cuisine and culture. Taste Africa, right here
          in Dubai.
        </p>
      </article>
    </section>
  </div>

  <%- include('../common/footer.ejs') %>
</body>
</html>
